### Scala ###
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

### Intellij ###
.idea
*.iml
/out/

## File-based project format:
*.iws

## Plugin-specific files:

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Intellij Patch ###
# modules.xml
# .idea/misc.xml 
# *.ipr

.DS_Store
.settings
.project
.classpath
target
/*/test-output
bak
testng.xml
*.pyc

.vscode